* {
    background: rgb(27, 27, 27);
    color: whitesmoke;
}

.center {text-align: center;}

.container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.card {
    border: 1px solid rgb(209, 209, 209);
    padding: 1rem;
    margin-top: 1rem;
}